@import "variables";
#main
{
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.menuMain
	{
		border-radius: 5px;
		padding: 1rem .8rem;
		background-color: $color-hot;
		box-shadow: $box-shadow;
		h2
		{
			margin-bottom: 2rem;
			margin-left: .2rem;
		}
		.button
		{
			margin: 0 .2rem;
		}
		.lobbiesListTitle, .backToMainMenu
		{
			display: inline-block;
		}
		.backToMainMenu
		{
			margin-left: 2rem;
		}
		.lobbiesList
		{
			.button
			{
				margin-bottom: .5rem;
				display: block;
				width: 100%;
				text-align: center;
			}
		}
	}
	.lobby
	{
		padding: 0 20px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		.lobbyMembers
		{		
			margin-right: 10px;
			.pseudo
			{
				margin-bottom: 10px;
				border: 3px solid $color-dark;
				padding: 0 10px;
				position: relative;
				height: 52px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: $color-dark;
				background-color: $color-light;
				.avatar
				{
					margin: 0 10px;
					width: 48px;
					height: 48px;
				}
				.eject
				{
					.button
					{
						margin-left: 10px;
						margin-right: 0;
					}
				}
			}
			.selected
			{
				&:before
				{
					border-radius: 50%;
					content: '';
					position: absolute;
					left: -12px;
					top: calc(50% - 12px);
					width: 25px;
					height: 25px;
					background-color: $color-hot;
					z-index: -1;
				}
				&:hover
				{
					background-color: $color-middle;
				}
			}
			.pseudoReady
			{
				border: 3px solid green;
			}
		}
		.talkBoard
		{
			border: 1px solid $color-dark;
			padding: 15px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			min-height: 500px;
			min-width: 300px;
			background-color: $color-dark;
			.taskbar
			{
				margin-bottom: 10px;
				display: flex;
				justify-content: space-between;
				width: 100%;
				.button
				{
					margin: 0;
				}
				.notReady
				{
					&::before
					{
						content: "Ready";
					}
				}
				.ready
				{
					&::before
					{
						content: "not Ready";
					}
				}
			}
			.messages
			{
				flex: 1;
				.user
				{
					margin: 5px 0;
					width: 100%;
					font-weight: 700;
					color: $color-light;
				}
				.message
				{
					color: $color-light;
				}
			}
			.inputMessageContainer
			{
				display: flex;
				align-items: center;
				width: 100%;
				.inputMessage
				{
					border: 1px solid $color-dark;
					padding: 0 5px;
					display: inline-block;
					flex: 1;
					height: 60px;
					resize: none;
				}
				.button
				{
					margin: 0 0 0 15px;
					font-size: 1rem;
					height: 100%;
				}
			}
		}
	}
}