@import "variables";
.error
{
	margin: .5rem 0;
	color: red;
	font-size: 1rem;
}
.disabled
{
	display: none;
}

// Formulaires
.formOk
{
	border-bottom-right-radius: 25px;
	button
	{
		border-radius: 50%;
		width: 50px;
		height: 50px;
	}
}
.button
{
	margin: .5rem;
	border-radius: 10px;
	border: none;
	padding: .3rem .5rem;
	text-decoration: none;
	font-size: 1.2rem;
	background-color: $color-middle;
	transition: background-color .5s, box-shadow 1s;
	&:hover
	{
		background-color: $color-light;
		box-shadow: 0px 0px 10px $color-middle;
	}
}

.modalContainer
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.chooseAvatarContainer
	{
		padding: 5px;
		border: 3px solid black;
		position: relative;
		display: flex;
		align-items: center;
		width: 400px;
		background-color: white;
		.chooseAvatar
		{
			width: 50%;
			height: 100%;
			.avatar
			{
				margin: 5px;
				border: 2px solid black;
				width: 64px;
				height: 64px;
			}
			.selected
			{
				border: 2px solid red;
			}
			.taked
			{
				opacity: .2;
			}
		}
		.introduceAvatar
		{
			width: 50%;
			height: 100%;
			img
			{
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		}
		.avatarValidateButton
		{
		}
	}
}