<!DOCTYPE html>
<html>
    <% include head %>
    <body>
        <div id="main">
            <%- include(main) %>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/assets/js/client.js"></script>
    </body>
</html>