<h1>Lobby</h1>
<div class="menuMain">
	<h2>Menu Principal</h2>
    <a id="createLobby" class="button" href="/lobby">Créer un Lobby</a>
    <a id="loadLobbiesList" class="button" href="/lobbiesList">Rejoindre un Lobby</a>
</div>
